<table>
  <tr>
    <th><img 
      src="<%= user.avatar %>"
      class="card-img-top" 
      alt="profile image" 
      style="height: 10px 10px;" 
    /></th>
  </tr>
  <tr>
    <div><th><h3>Name:</h3></th> <th><h4><%= user.name %></h4></th></div>
  </tr>
  <tr>
    <div><th><h3>Email:</h3></th> <th><h4><%= user.email %></h4></th></div>

  </tr>
  <tr>
    <div><th><h3>number:</h3></th> </div>
    
  </tr>
</table>
<!-- <div>
<div>
  <img 
  src="<%= user.avatar %>"
  class="card-img-top" 
  alt="profile image" 
  style="height: 10px 10px;" 
/>
<% console.log(user.avatar)%>
</div>
<div><h3>Name:</h3> <h4><%= user.name %></h4></div>
<div><h3>Email:</h3> <h4><%= user.email %></h4></div>
</div> -->