<div style="margin: 20px;"> 
   <% if (user.image === null) {%>
        <img 
        src="<%= user.avatar %>"
        class="card-img-top" 
        alt="profile image" 
        style="width: 400px;"
      />
    <%} else{ %>
        <img 
        src="/images/<%= user.image %>"
        class="card-img-top" 
        alt="profile image" 
        style="width: 400px;"
      />
      <%}%>

    <div style="align-content: start; margin-top: 30px;">

      <h3 style="text-align: left;">Name: <%= user.name %></h3>

      <h3 style="text-align: left;">Email: <%= user.email %></h3>

      <h3 style="text-align: left;">number: <%= user.number %></h3>
    </div>



    <a href="/profile/edit" class="btn btn-outline-primary">
    Edit  
    </a>
 


      <a href="/order/index" class="btn btn-outline-primary"> Order History
      </a>

  <a href="/profile/detail"class="btn btn-outline-primary">View My Books</a>

<!-- <div>
<div>
  <img 
  src="<%= user.avatar %>"
  class="card-img-top" 
  alt="profile image" 
  style="height: 10px 10px;" 
/>
<% console.log(user.avatar)%>
</div>
<div><h3>Name:</h3> <h4><%= user.name %></h4></div>
<div><h3>Email:</h3> <h4><%= user.email %></h4></div>
</div> -->
</div>