<h3 style="margin-top:20px ;">Order: <%= order._id %> $</h3>

<div class="row">
  <h3 style="text-align: left; padding: 30px;">Order Items:</h3>
  <% order.books.forEach(book => {%>

    <div style="display: flex; justify-content: space-between; padding: 30px;" > 
      <div>
      <img 
        src="/images/<%= book.image %>"
        class="card-img-top" 
        alt="Book image" 
        style="height: 200px; object-fit: cover;" 
      />
    </div>

      <div class="card-body" style="text-align: left;">
        <h5><a href="/book/detail?id=<%= book._id%>"><%= book.title %></a></h5>
        <h5><%= book.price %>$</h5>
      </div>
      
    </div>
  <%})%>
  

  <h3 style="margin-top:20px ;">Total: <%= order.totalPayment %> $</h3>